<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">

        <!-- Encode form -->
        <form role="form" method="POST" action="/">
          <div class="col-lg-6">
            <div class="input-group">
              <span class="input-group-btn">
                <button class="btn btn-default" type="Encode">Encode</button>
              </span>
              <div class="form-group">
                <input type="text" name="text-to-encode" class="form-control" placeholder="Text to encode">
              </div> <!-- /.form-group -->
            </div> <!-- /.input-group -->
          </div> <!-- /.col-lg-6 -->
        </form> <!-- /.form -->

        <!-- Decode form -->
        <form role="form" method="POST" action="/">
          <div class="col-lg-6">
            <div class="input-group">
              <div class="form-group">
                <input type="text" class="form-control" name="text-to-decode" placeholder="Text to decode">
                <input type="text" class="form-control" name="decode-key" placeholder="Key">
              </div> <!-- /.form-group -->
              <span class="input-group-btn">
                <button class="btn btn-default" type="Decode">Decode</button>
              </span>
              </div> <!-- /.input-group -->
            </div> <!-- /.col-lg-6 -->
        </form> <!-- /.form -->

      </div> <!-- /.row -->

      <br>
        {% for error in errors %}
          <h4>{{ error }}</h4>
        {% endfor %}
       <br>

      <div class="col-sm-5 col-sm-offset-1">

        <!-- Handle encoding request -->
        {% if "encoded-text" in results and "key" in results %}
          <br>
          <div id="results">
            <table class="table table-striped" style="max-width: 300px;">
              <thead>
                <tr>
                  <th>Encoded Text</th>
                  <th>Key</th>
                </tr>
              </thead>
              <tr>
                <td>{{ results["encoded-text"] }}</td>
                <td>{{ results["key"] }}</td>
              </tr>
            </table> <!-- ./table-striped -->
          </div> <!-- /.results -->
        {% endif %}

        <!-- Handle decoding request -->
        {% if "decoded-text" in results %}
          <br>
          <div id="results">
            <table class="table table-striped" style="max-width: 300px;">
              <thead>
                <tr>
                  <th>Decoded Text</th>
                </tr>
              </thead>
              <tr>
                <td>{{ results["decoded-text"] }}</td>
              </tr>
            </table> <!-- ./table-striped -->
          </div> <!-- /.results -->
        {% endif %}

    </div> <!-- /.container -->
    <br><br>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
